div class="file" id=dom_id(content)
  span= root_url[0...-1]  + content.file.url
  = link_to 'Delete', content_url(content), :confirm => "Are you sure?", :method => :delete, :remote => true, :class => "delete"