@import '../partials/color';

#archives {
	width: 60%;
	float: left;
	
	h4 {
	  border-top: 10px solid $theme;
		font-size: 36px;
		font-weight: normal;
		text-transform: uppercase;
		padding-top: 10px;
		margin: 20px 0px 10px 0px;
	}
	
	dl {
		text-align: center;
	  overflow: auto;
	
		dt {
			width: 9%;
			float: left;
			clear: both;
			padding: 8px 0px 8px 0px;
			font-weight: bold;
			color: $theme-text-highlight;
			border-right: 2px solid $theme-text-highlight;
		}
		
		dd {
			width: 7.5%;
			float: left;
			padding: 8px 0px 8px 0px;
			color: $theme-text-highlight;
		}
	}
}