@import '../partials/size';
@import '../partials/color';

#comments {
	h3 {
		font-size: 24px;
		margin: 30px 0px 20px 0px;
	}
	
	.comment {
		display: block;
		clear: both;
		overflow: auto;
		border-bottom: 1px solid $theme-text-highlight;
		padding: 10px 10px 10px 0px;
		
		img {
			float: left;
			height: $avatar-size;
			width: $avatar-size;
			margin: 0px 10px 10px 0px;
		}
		
		span {
			display: block;
			margin-bottom: 10px;
			font-weight: bold;
			
			a {
				text-decoration: underline;
			}
		}
		
		p {
			margin-bottom: 20px;
			width: $comment-width;
			float: right;
		}
	}
	
	#comment-left{
		width: 40%;
		float: left;
		overflow: hidden;
	}

	#comment-right {
		width: 60%;
		float: left;
		overflow: hidden;
	}
	
	p {
		margin-bottom: 0px;
	}

	.moderation {
		float: right;
		font: {
			weight: normal
		};
		display: none;
	}
}