@import '../partials/color';
@import '../partials/size';


* {
  padding: $reset;
  margin: $reset;
}

html {
	overflow-y: scroll;
}

body {
  font-family: 'Segoe UI', 'Lucida Grande', Arial, Helvetica, Verdana, MS Sans Serif; 
  font-size: $website-font-size; 
  color: $theme-text-color;
  background-color: $theme-background-color;
  border-top: $body-border-width solid $theme-highlight-color;
}

#wrapper {
	width: $website-width;
	margin: auto;
}

#main {
	clear: both;
	float: left;
	width: $website-content-width;
}

a {
	&:link,
	&:visited {
		text-decoration: none;
	  color: $theme-link-color;
	}
	
	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	  color: $theme-link-highlight-color;
	}
	
	img {
		border: $reset;
	}
}

blockquote {
	margin: $blockquote-margin;
	border-left: $blockquote-border-left solid $theme-text-highlight-color;
	padding-left: $blockquote-padding-left;
	color: $theme-text-highlight-color;
	
	cite {
		display: block;
		font-style: oblique;
		padding-top: $blockquote-cite-padding-top;
	}
}

code {
	font-family: Consolas, Monaco;
}