@import '../partials/color';
@import '../partials/style';

header {
	h1 {
	  text-transform: lowercase;
	  font-size: 140px;
		float: left;
		//margin-top: -25px;
		
		@include static_link($theme, $theme);
	}
	
	nav {
		float: right;
		margin-top: 65px;
		
		ul {
			list-style: none;
			
			li {
				float: left;
				margin-left: 35px;
				font-size: 24px;
			}
		}
	}
}