@import '../partials/color';

#twitter {
	width: 40%;
	float: left;
	
	p {
	  background: $theme;
	  color: $theme-background;
	  padding: 15px;
	  margin: 20px 0px 0px 20px;
	}

	#triangle {
	  font-size: 0px;
	  line-height: 0px; 
	  width: 0px;
	  border-top: 20px solid $theme;
	  border-left: 20px solid $theme-background;
	  margin: 0px 10px 0px 40px;
	  float: left;
	}

	img {
	  margin-top: 10px;
	  vertical-align: middle;
	}
}