$theme-highlight-color: #2e2055;
$theme-background-color: #fff;

$theme-text-color: #444751;

$theme-text-highlight-color: #999c9f;

$theme-author-highlight-color: #ddd;

$theme-link-color: #1160B7;
$theme-link-highlight-color: #318ED1;