$reset: 0px;

$website-width: 980px;
$website-content-width: 650px;
$website-font-size: 12px;
$body-border-width: 10px;


$blockquote-margin: 0px 0px 30px 30px;
$blockquote-border-left: 2px;
$blockquote-padding-left: 15px;
$blockquote-cite-padding-top: 15px;


$header-font-size: 140px;
$header-margin-top: -25px;
$header-nav-margin-top: 65px;
$header-nav-link-margin-left: 35px;
$header-nav-link-font-size: 24px;


$article-header-title-font-size: 36px;
$article-header-title-margin-bottom: 10px;
$article-header-meta-margin: 0px 0px 10px 0px;
$article-thumbnail-size: 200px;
$article-thumbnail-margin: 5px 15px 0px 0px;
$article-subtitle-border-bottom: 3px;
$article-subtitle-margin-bottom: 20px;
$article-subtitle-padding: 10px 0px 3px 0px;
$article-subtitle-font-size: 16px;
$article-text-line-height: 170%;
$article-text-margin-bottom: 20px;
$article-list-margin-left: 35px;
$article-list-item-margin-bottom: 5px;
$article-footer-border-top: 1px;
$article-footer-padding: 5px 0px 0px 0px;


$comment-title-font-size: 24px;
$comment-title-margin: 30px 0px 20px 0px;
$comment-border-bottom: 1px;
$comment-padding: 10px 10px 10px 0px;
$comment-avatar-size: 100px;
$comment-avatar-margin: 0px 10px 10px 0px;
$comment-meta-margin-bottom: 10px;
$comment-text-margin-bottom: 20px;
$comment-text-width: 530px;
$comment-form-left-width: 40%;
$comment-form-right-width: 60%;


$sidebar-margin: 0px 0px 30px 30px;
$sidebar-width: 300px;
$sidebar-project-size: 140px;
$sidebar-project-margin: 10px;
$sidebar-project-image-margin: 20px auto 0px auto;
$sidebar-project-image-size: 100px;
$sidebar-project-caption-margin: 0px 0px 10px 10px;


$pagination-border-top: 1px;
$pagination-padding-top: 10px;


$archives-width: 60%;
$archives-title-border-top: 10px;
$archives-title-font-size: 36px;
$archives-title-padding-top: 10px;
$archives-title-margin: 20px 0px 10px 0px;
$archives-year-width: 9%;
$archives-year-padding: 8px 0px 8px 0px;
$archives-year-border-right: 2px;
$archives-month-width: 7.5%;
$archives-month-padding: 8px 0px 8px 0px;


$twitter-width: 40%;
$twitter-status-padding: 15px;
$twitter-status-margin: 20px 0px 0px 20px;
$twitter-triangle-width: 20px;
$twitter-triangle-margin: 0px 10px 0px 40px;
$twitter-avatar-margin-top: 10px;


$footer-margin-bottom: 50px;
$copyright-font-size: 10px;