@mixin static-link($color, $highlight, $underline: none, $hover: none) {
  a {
    &:link,
    &:visited {
      color: $color;
      text-decoration: $underline;
    }
    &:hover,
    &:active,
    &:focus {
      color: $highlight;
      text-decoration: $hover;
    }
  }
}

@mixin linear-gradient($start, $stop) {
	background: $start;
	background-image: -o-linear-gradient($start, $stop);
	background-image: -webkit-linear-gradient($start, $stop);
	background-image: linear-gradient(top, $start, $stop);
}

@mixin wrapper($width) {
	width: $width;
	margin: auto;
}