@import 'partials/color';

.content, #blog-roll {
	margin-top: 10px;
	width: 100%;
	float: left;
	border-top: 10px solid $theme;

	h2 {
		font-size: 36px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 10px;
	}

	p {
		line-height: 160%;
	}
}

.content {
	margin-bottom: 75px;

	img {
		margin: 15px 15px 0px 0px;
		float: left;
		height: 250px;
		width: 250px;
	}
}

#blog-roll {
	min-height: 275px;
	
	.post {
		display: none;
	}

	.selected {
		display: block;
	}

	#nav {
		list-style: none;
		background: $theme-background;
		margin-top: -10px;
		float: right;
	
		li {
			float: left;

			a {
				width: 10px;
				height: 10px;
				margin-left: 2px;
				background: $theme;
				display: block;
			}
		}

		.active {
			a {
				background: $theme-link;
			}
		}
	}
}