@import "partials/color";

/* 
        This stylesheet belongs to TextboxList - Copyright Guillermo Rauch <http://devthought.com> 2009 
        TextboxList is not priceless for commercial use. See <http://devthought.com/projects/jquery/textboxlist/> 
        Purchase to remove copyright
*/

.textboxlist { 
  font: 11px "Lucida Grande", Verdana; 
  cursor: text;
  background: $theme-background;
  height: 19px;
  border: 1px solid #ccc;
}

.textboxlist-bits {
  overflow: hidden;
}

.textboxlist-bit { 
  list-style-type: none; 
  float: left; 
  display: block;
  cursor: default; 
}

.textboxlist-bit-editable { 
  border: 1px solid #fff; 
}

.textboxlist-bit-editable-input { 
  border: 0px !important;
  height: 14px !important;
  font: 11px "Lucida Grande", Verdana; 
}

.textboxlist-bit-editable-input:focus { 
  outline: 0px; 
  border: 0px;
}

.textboxlist-bit-box { 
  position: relative; 
  line-height: 13px; 
  padding: 0 5px;
  border-radius: 9px; 
  border: 1px solid #CAD8F3; 
  background: #DEE7F8; 
  cursor: default; 
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 2px;
  font-size: 10px;
}

.textboxlist-bit-box-deletable { 
  padding-right: 15px; 
}

.textboxlist-bit-box-deletebutton { 
  position: absolute; 
  right: 4px; 
  top: 3px; 
  display: block; 
  width: 7px; 
  height: 7px; 
  font-size: 1px; 
  background: image_url('close.gif'); 
}

.textboxlist-bit-box-deletebutton:hover { 
  border: none; 
  background-position: 7px; 
  text-decoration: none; 
}

.textboxlist-bit-box-hover { 
  background: #BBCEF1; 
  border: 1px solid #6D95E0; 
}

.textboxlist-bit-box-focus { 
  border-color: #598BEC; 
  background: #598BEC; 
  color: #fff; 
}

.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { 
  background-position: bottom; 
}

.textboxlist-autocomplete { 
  position: absolute;
  margin-top: 3px;
  width: 520px !important;
  margin-left: -1px;
}

.textboxlist-autocomplete-placeholder, 
.textboxlist-autocomplete-results { 
  background: $theme-background;
  border: 1px solid #ccc; 
  border-top: none; 
  display: none; 
}

.textboxlist-autocomplete-placeholder { 
  padding: 5px 7px; 
}

.textboxlist-autocomplete-results { 
  margin: 0; 
  padding: 0; 
}

.textboxlist-autocomplete-result { 
  margin: 0; 
  padding: 5px; 
  list-style-type: none; 
  background: $theme-background; 
}

.textboxlist-autocomplete-result-focus { 
  background: $theme-link;
  color: $theme-background;
}

.textboxlist-autocomplete-highlight { 
  font-weight: bold; 
}